@charset "utf-8";
/* CSS Document */

body{margin: 0;
padding: 0;
background-image: url(background_forest.jpg);
background-repeat: no-repeat;
background-size: cover;

}

#wrapper{width: 80%;
margin-left: auto;
margin-right: auto;
min-width: 960px;
margin-top: 50px;
margin-bottom: 50px;
border-style: ridge;
border-color: #785e52;
border-size: 5px;
background-color: white;

}

#header{
	background-image: url(ScienceBackground.gif);
	padding-top: 14px;
	padding-bottom: 14px;

}

#header a{margin-left: 5px;
			margin-right: 5px;}


#main{

	
	/*margin-left: 160px;*/
	float: left;
	width: 75%;
	background-color: white;
	padding: 20px;
	min-height: 525px;
	margin: 0;
	border-left: black 1px solid;
	padding-bottom: 30px;
	

}



#aside {float: left;
width: 20%;
background-color: white;

text-align: center;
min-height: 525px;
margin: 0;
padding-top: 50px;
}


#footer{
/*min-height: 120px;*/
border-top: black 1px solid;
background-color: white;
clear: both;
text-align: center;
font-size: 14px;
padding-top: 30px;
margin: 0;
		
}

a{color: #785e52;}

a:hover{color: #779944;}

#footer a{
	color: #785e52;
	margin-left: 5px;
	margin-right: 5px;
}

#footer a:hover{color: #779944;}

#logo{
margin-left: 25px;
}

#header img {
border-style: solid;
border-color: #785e52;
border-width: 2px;
}

strong{font-size: 14px;}

.center{text-align: center;}

#butterfly{
	display: block;
margin-left: auto; 
margin-right: auto; 
border-color: blue; 
border-style: solid;
border-width: 3px;	
}


	
	
	#wildlife {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	
	display: block;
	
}

#wildlife:hover{color: #779944;}

#wetland{
padding-left: 50px;
	
	}

#wetland img{

border-style: solid;
border-width: 3px;
border-color:  #785e52
	
}

#teacher{
	float: right;
	border-style: solid;
border-width: 3px;
border-color:  #785e52
	
	
	}

.main_img{
	
margin-left: auto;
margin-right: auto;
display: block;
border-style: solid;
border-width: 3px;
border-color:  #785e52
}

#vocab_box{
	
	height: 209px;
	width: 500px;
	border-style: solid;
border-width: 3px;
border-color:  #779944;
color:  #779944;
text-align: center;
font-style: italic;
font-size: 28px;
	
	}