body{background-color: #FFFFFF;
     color: #666666;
     font-family: "Verdana", Arial, sans-serif;
     background-image: url("background.jpg");}
    
h1 {background-color: #000033;
     color: #FFFFFF;
     line-height: 200%;
     font-family: "Georgia", serif;
     background-image: url("sunset.jpg");
     background-origin: content-box;
     background-repeat: no-repeat;
     background-position: right top;
     padding-left: 20px;
     height: 72px;
     margin-bottom: 0;}
     
table {width: 600px;
        margin: auto;
        border: #3399CC 1px solid;
        border-spacing: 0;
        }
td, th {border: #3399CC 1px solid;
        padding: 5px;}

td {text-align: center;}

tr:nth-of-type(odd) {background-color: #BADAEA;}

label {float: left; display: block; text-align: right; width: 120px; padding-right: 5px;}

input{display: block; margin-bottom: 20px;}

textarea{display: block; margin-bottom: 20px;}

#mySubmit{margin-left: 130px;}
        
.text{text-align: left;}

#nav{font-weight: bold;
      padding-top: 20px;
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 5px;
      float: left;
      width: 160px;}
#nav a {text-decoration: none;}

#nav a:link {color: #000033;}
#nav a:visited {color: #344873;}
#nav a:hover {color: #FFFFFF;}


h2{color: #3399CC;
    font-family: "Georgia", serif; }
    
dt{color: #000033; }

.resort{color: #000033;
        font-size: 1.2em; }

#footer {font-size: .70em;
            font-style: italic;
            text-align: center;
            padding: 10px;}

#wrapper{width: 80%;
            margin-right: auto;
            margin-left: auto;
            background-color: #90C7E3;
            min-width: 960px;
            -webkit-box-shadow: 5px 5px 5px #828282;
            -moz-box-shadow: 5px 5px  5px #828282;
            box-shadow: 5px 5px 5px #828282;}

h3{color: #000033;}

#content{background-color: #ffffff;
        margin-left: 160px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 1px;}

#nav ul {list-style-type: none;
          margin: 0;
          padding-left: 0;}
          
#content img {float: left;
              padding-right: 20px;}
#content ul {list-style-position: inside;}
.clear{clear: left;}

#mobile {display: none;}

#desktop {display: inline;}


            