$i: 0;

$themeBlue: #144D85 !default;
$themeDarkBlue: #001A50 !default;
$themeLightBlue: #186DB3 !default;
$themeLightBlue2: #2986cc !default;
$themeGold: #ceae3f !default;
$themeGold2: #bf9201 !default;
$themeGold3: #DBBE75 !default;
$themeBlueGray: #464774 !default;

$defaultText: #2d2926 !default;
$redText: #E00000 !default;
$darkRedText: #D40013 !default;
$grayText: #CCC !default;
$lightGrayText: #e2e2e2 !default;
$lighterGrayText: #f1f1f1 !default;
$lighterGrayBg: #f6f6f6 !default;
$darkGrayText: #616666 !default;

$linkColor: #0172C3 !default;
$darkLinkColor: #144D85 !default;

$headerMax: 1600px !default;
$mainMax: 1280px !default;

$screen-xs-min: 411px;
$screen-sm-min: 577px;
$screen-md-min: 812px;
$screen-lg-min: 993px;
$screen-xl-min: 1201px;
$screen-xxl-min: 1280px;

$font: 'roboto', Arial, Helvetica, sans-serif !default;
$fontSize: 18px !default;
$lineHeight: 37px !default;

$fontCursive1: 'Brush Script MT', 'Brush Script Std', 'cursive' !default;
$cursiveFontSize: 32px !default;
$lineHeight: 40px !default;

$xl: 1024px;
$lg: 880x;
$md: 768px;
$sm: 480px;

