#imgGallery{
    img{
        left: 0;
        top: 0;
        box-shadow: 3px 13px 18px -9px rgba(0,0,0,0.3);
        -moz-box-shadow: 3px 13px 18px -9px rgba(0,0,0,0.3);
        -webkit-box-shadow: 3px 13px 18px -9px rgba(0,0,0,0.3);

        &.state1{
            z-index: 2; transition: opacity 2000ms;
        }
        &.state2{
            z-index: 1;
        }
    }
}
